.card-img {
      max-width: 300px;
      background-color: rgba(0, 0, 0, 0.1) !important;
}

.pdf-dl-btn {
      color: chocolate;
      cursor: pointer;
      font-weight: 500;
      border: 3px solid chocolate;
      border-radius: 12px;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 0px;
      padding-bottom: 2px;
      text-decoration: none;
      float: right;
      margin-right: 100px;
}

.pdf-dl-btn:hover {
      color: rgb(238, 67, 24);
      border: 3px solid rgb(238, 67, 24);
      background-color: rgb(238, 67, 24, 0.06);
}

.subs {
      margin-left: 7vw;
      font-weight: 500;
      font-size: large;
}

.des {
      margin-left: 6vw;
      font-weight: 600;
      font-size: large;
}

.title {
      margin-left: 3vw;
      font-weight: 700;
      font-size: larger;
}

.content {
      color: rgb(26, 7, 112);
}

.title:before {
      content: "• ";
}

.con {
      margin: 5vw;
}

.year {
      color: rgb(26, 7, 112);
      font-weight: 600;
      line-height: 80%;
}

.month-head {
      margin-left: 3vw;
      color: rgb(17, 148, 94);
      font-weight: 600;
      font-size: large;
      line-height: 80%;
}

.month {
      padding: 1vw;
      padding-top: 6vh;
      margin-top: 3vh;
      margin-bottom: 2vw;
      background-color: rgb(17, 148, 94, 0.05);
      border-radius: 10px;
}