.lang-btn {
      width: 150px;
      height: 55px;
      padding: 5px;
      border: 4px solid rgb(26, 7, 112);
      border-radius: 25px 13px 13px 13px;
      cursor: pointer;
}

.lang-btn:hover {
      width: 150px;
      height: 55px;
      padding: 5px;
      border: 4px solid rgb(16, 4, 68);
      background-color: rgba(26, 7, 112, 0.2);
      border-radius: 25px 13px 13px 13px;
      cursor: pointer;
}

.lang-btn a {
      color: rgb(26, 7, 112);
      text-decoration: none;
      font-weight: 500;
      margin-top: 4px;
}

.lang-btn a:hover {
      color: rgb(26, 7, 112);
      text-decoration: none;
      font-weight: 500;
      margin-top: 4px;
}

.lang-flag {
      max-width: 64px !important;
}

.ltr {
      direction: ltr;
}

.foot {
      font-family: farnaz;
      text-align: center;
      padding: 20px;
      padding-bottom: 8px;
      border-radius: 6px;
      color: rgb(40, 37, 61);
      border: 2px solid rgb(0, 0, 0, 0.15);
      background-color: rgba(0, 0, 0, 0.1) !important;
}

.card-img {
      max-width: 300px;
      background-color: rgba(0, 0, 0, 0.1) !important;
}

.pdf-dl-btn {
      color: chocolate;
      cursor: pointer;
      font-weight: 500;
      border: 3px solid chocolate;
      border-radius: 12px;
      padding-left: 6px;
      padding-right: 6px;
      padding-top: 0px;
      padding-bottom: 2px;
      text-decoration: none;
      float: left;
      margin-right: 100px;
}

.pdf-dl-btn:hover {
      color: rgb(238, 67, 24);
      border: 3px solid rgb(238, 67, 24);
      background-color: rgb(238, 67, 24, 0.06);
}

.subs {
      margin-right: 7vw;
      margin-right: 7vw;
      font-weight: 500;
      font-size: large;
}

.des {
      margin-right: 4vw;
      font-weight: 700;
      font-size: large;
}

.title {
      margin-left: 3vw;
      font-weight: 700;
      font-size: larger;
}

.content {
      color: rgb(26, 7, 112);
}

.title:before {
      content: "• ";
}

.con {
      margin: 5vw;
}

.year {
      color: rgb(26, 7, 112);
      font-weight: 600;
      line-height: 80%;
}

.month-head {
      margin-left: 3vw;
      color: rgb(17, 148, 94);
      font-weight: 600;
      font-size: large;
      line-height: 80%;
}

.month {
      padding: 1vw;
      padding-top: 6vh;
      margin-top: 3vh;
      margin-bottom: 2vw;
      background-color: rgb(17, 148, 94, 0.05);
      border-radius: 10px;
}

@font-face {
      font-family: 'farnaz';
      src: url('../fonts/Farnaz.eot');
      src: url('../fonts/Farnaz.eot?#iefix') format("embedded-opentype"), url('../fonts/Farnaz.woff') format("woff"), url('../fonts//Farnaz.ttf') format("truetype");
      font-weight: normal;
      font-style: normal
}